.global__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: var(--background-color-black);
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.tags-cloud__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: var(--background-color-black);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.announcements__svg {
  fill: var(--white-color);
  margin-right: 30px;
  margin-left: -5px;
}
.announcements__item,
.pop__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-black-color);
  margin-bottom: 16px;
  &::before {
    content: '\2022';
    color: var(--green-color);
    padding-right: 5px;
    font-weight: bold;
  }
}

.global__pop {
  padding-bottom: 30px;
  margin-top: 70px;
  border-bottom: 1px solid var(--border-color-grey);
}

.global__announcements {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color-grey);
}

.global__advertising {
  margin-top: 30px;
  margin-bottom: 60px;
}

.global__tags-cloud {
  margin-bottom: 70px;
}

.global__svg {
  fill: var(--white-color);
}
.pop__svg {
  fill: green;
  margin-right: 30px;
}
